* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

h3, h1 {
    font-family: 'Poppins', sans-serif;
}

main {
    padding: 60px;
    background: url('./images/bg-hero-desktop.svg');
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    background-repeat: no-repeat;
}

main nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

main nav button {
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 40px;
    font-weight: bold;
}

#intro {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

#intro button {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    font-weight: bold;
}

#mid {
    padding: 100px 50px;
}

.card {
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(192, 100%, 9%);
}

.card_content {
    margin: 0 200px 0 100px;
}

.card_content h3{
    color: hsl(192, 100%, 9%);
    margin-bottom: 10px;
}

.card_content p{
    color: hsl(208, 11%, 55%);
}

footer {
    position: relative;
    background-color: hsl(192, 100%, 9%);
    padding: 200px 70px 0 70px;
    margin-top: 80px;
}

#box_button {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 180px;
    padding: 30px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 45, 56, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#box_button button{
    background-color: hsl(322, 100%, 66%);
    color: white;
    border: none;
    border-radius: 20px;
    width: 350px;
    height: 50px;
    font-weight: bold;
}

#footer_info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
}

#social_icon {
    display: flex;
    color: white;
}

.center, #social_icon {
    justify-self: center;
}

.icon {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.info a {
    text-decoration: none;
    color: white;
}

#copyright {
    text-align: right; 
    color: white;
    margin-top: 20px;
}

@media screen and (max-width: 800px) {
    #intro {
        grid-template-columns: 1fr;
    }

    #intro div:nth-child(1) {
        grid-area: 2 / 1 / 3 / 2;
    }

    #intro div:nth-child(2) {
        grid-area: 1 / 1 / 2 / 2;
    }

    .card {       
        flex-direction: column;
    }

    .card_content {
        margin: 40px 20px 20px 20px;
    }

    .card div:nth-child(1) {
        order: 2;
    }

    .card div:nth-child(2) {
        order: 1;
    }

    #box_button {
        width: 350px;
        height: 180px;
    }

    #box_button button{
        width: 250px;
        height: 50px;
    }

    footer {
        padding: 150px 20px;
        margin-top: 80px;
    }

    #footer_info {
        grid-template-columns: 1fr;
    }

    .center, #social_icon {
        justify-self: start;
    }

    #social_icon {
        justify-self: center;
        margin-top: 50px;
    }
    
    #copyright {
        text-align: center; 
    }

}